doctype html
html
  head
    title Pakwheels
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/car.jpg")
                |  `PakWheels
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/contact") Contact Us]
            li #[a(href="/search") Search Your Car]
            li #[a(href="/userindex") Post an Ad]
            li #[a(href="/inspection") Inspection]
    block content
    footer#footer
        <footer class="panel-footer">
          <div class="container">
            <div class="row">
            <section id="hours" class="col-sm-4">
             <span>Hours:</span><br>
              sun 05:00pm - 01:00am<br>
              sun 05:00pm - 2:30am<br>
              Sun Business Hours: 24 hrs
              <hr class="visible-xs">
              </section>
              <section id="address" class="col-sm-4">
              <span>Address:</span><br>
              KAECHS 1/2 Defence Phase 8, CenterPoint Towers,Floor 14<br>
              <p>* THINK WHEELS, THINK PAKWHEELS.</p>
              <hr class="visible-xs">
              </section>
              <section id="testimonials" class="col-sm-4">
              <span>Privacy Policy:</span><br>
              <p>"PakWheels has a very active community in our forums please remember that any information that is disclosed in these areas becomes public information"</p>
              <p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this Web site, please Contact us!</p>
              </section>
              </div>
              //- <div class="text-center">&copy;Copyright © 2020 PakWheels.com | All Rights Reserved</div>
              </div>
              </footer>
              | Copyright © 2020 PakWheels.com | All Rights Reserved