//- index.pug
doctype html
html
  head
    title Pakwheels
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | MDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Contact Us]
            li #[a(href="/") ]
            li #[a(href="/") ]
            li #[a(href="/") Post an Add]
    
    section#introSection
        div Find Used Cars in Pakistan
        div.small With thousands of cars, we have just the right one for you
    section#missionSection
        h2 Our Services
        div.card
            h3 Purchase Car
            div.card-box
                div.card-img
                    img(src="/static/img/s.png")
                div.card-content
                    p Buy your desired beautiful car at good price easily
        div.card
            h3 Sell Your Car
            div.card-box
                div.card-img
                    img(src="/static/img/s.png")
                div.card-content
                    p Safely sell your car at good prices
        div.card
            h3 Car Inspection
            div.card-box
                div.card-img
                    img(src="/static/img/s.png")
                div.card-content
                    p Inspect the car either in buying or purchasing

    section#sponsorsSection
        h2 Our Sponsors
        div#sponsors
            img(src= "/static/img/logo1.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/img/logo2.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/img/logo3.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/img/logo4.png", alt= "Sponsor Image", class= "spImage")
    
    footer#footer
        | Copyright © 2020 PakWheels.com | All Rights Reserved
    script
      include ../static/index.js
