doctype html
html(lang="en")
    head 
        title Pakwheels
        block scripts
        block style
        include includes/styles
        //- include ../static/styleadd.css
    body 
        .page-wrapper 
            include includes/header 
            block content

            