extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/stylecontact.css

block content
    h1 Our Services
        <ol>
            <li>Purchase Car</li>
            <li>Sell your Car</li>
            <li>Car Inspection</li>
        </ol>
        h2 Terms of Services
        h4 The materials, products and services provided to you on this web site are provided on an &as-is& basis, without warranty of any kind, whether express or implied. PAKWHEELS.COM assumes no responsibility for the accuracy, completeness, reliability or timeliness of the information provided by this web site. 
        h4 You understand and expressly agree to use this web site at your sole risk, that any material and/or data downloaded or otherwise obtained through the use of this web site is at your own discretion and risk and that you will be solely responsible for any damage to your computer system or loss of data that results from the download of such material and/or data. 
        h4 Except as expressly set forth on this web site,PAKWHEELS.COM disclaims all warranties of any kind, express or implied, including without limitation any warranty of merchantability, fitness for a particular purpose or non-infringement and it makes no warranty or representation regarding the accuracy or reliability of any information obtained through PAKWHEELS.COM's services, regarding any goods or services purchased or obtained through PAKWHEELS.COM's services, regarding any transactions entered into through PAKWHEELS.COM's services or that PAKWHEELS.COM's services will meet any user's requirements, be uninterrupted, timely, secure or error free. Applicable law may not allow the exclusion of implied warranties, so the exclusion may not apply to you.
        h4 PAKWHEELS.COM will not be liable for any direct, indirect, incidental, special, consequential or punitive damages of any kind resulting from the use of or the inability to use PAKWHEELS.COM's services, resulting from any goods or services purchased or obtained or messages received or transactions entered into through PAKWHEELS.COM's services, resulting from loss of, unauthorized access to or alteration of a user's transmissions or data or for the cost of procurement of substitute goods and services, including but not limited to damages for loss of profits, use, data or other intangibles, even if PAKWHEELS.COM had been advised of the possibility of such damages.