extends layout
block content 
  <h1 class="navbar-header">You have to login first to post an Add!</h1>
    .login-panel 
        img(src="/static/img/login.png")
        include includes/login-form 
    .register-panel 
        img(src="/static/img/register.jpg")
        include includes/register-form
